<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BambooWireFrameOneImplementation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30632C7B1D2EC8A200C7253D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30632C8F1D2EC8A200C7253D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30632C9A1D2EC8A200C7253D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
