/Integer Read/nbproject/private/
/Integer Read/build/
/MergeNames/nbproject/private/
/MergeNames/build/
/StringPractice/nbproject/private/
/StringPractice/build/
/100Words/nbproject/private/
/100Words/build/
/Password/nbproject/private/
/Password/build/
/String Work/String Backwards/nbproject/private/
/String Work/String Backwards/build/
/String Work/numLetterDigits/nbproject/private/
/String Work/numLetterDigits/build/
/String Work/numOfOccurrences/nbproject/private/
/String Work/numLetterDigits/dist/
/String Work/Name Flip/nbproject/private/
/String Work/Encode Decode/nbproject/private/
/String Work/Encode Decode/build/
/String Work/Palindrome/nbproject/private/
/String Work/Palindrome/build/
/String Work/Text Analysis/nbproject/private/
/String Work/Text Analysis/build/
/Arrays/ArrayPractice/nbproject/private/
/Arrays/ArrayPractice/build/
/String Work/Count Words/nbproject/private/
/String Work/Count Words/build/
/String Work/JavaApplication3/nbproject/private/
/String Work/Dictionary/build/
/String Work/Find Names/nbproject/private/
/String Work/Find Names/build/