/Integer Read/nbproject/private/
/Integer Read/build/
/MergeNames/nbproject/private/
/MergeNames/build/
/StringPractice/nbproject/private/
/StringPractice/build/
/100Words/nbproject/private/
/100Words/build/
/Password/nbproject/private/
/Password/build/
/String Work/String Backwards/nbproject/private/
/String Work/String Backwards/build/
/String Work/numLetterDigits/nbproject/private/
/String Work/numLetterDigits/build/
/String Work/numOfOccurrences/nbproject/private/
/String Work/numLetterDigits/dist/
/String Work/Name Flip/nbproject/private/
/String Work/Encode Decode/nbproject/private/
/String Work/Encode Decode/build/
/String Work/Palindrome/nbproject/private/
/String Work/Palindrome/build/
/String Work/Text Analysis/nbproject/private/
/String Work/Text Analysis/build/
/Arrays/ArrayPractice/nbproject/private/
/Arrays/ArrayPractice/build/
/String Work/Count Words/nbproject/private/
/String Work/Count Words/build/
/String Work/JavaApplication3/nbproject/private/
/String Work/Dictionary/build/
/String Work/Find Names/nbproject/private/
/String Work/Find Names/build/
/String Work/GREP/nbproject/private/
/String Work/GREP/build/
/String Work/BRUHHH/nbproject/private/
/String Work/BRUHHH/build/
/AP CompSci Summer/Arrays Practice Lab 1/nbproject/private/
/AP CompSci Summer/Arrays Practice Lab 1/build/
/Coding Challenge/Perfect Hiring/nbproject/private/
/Coding Challenge/Perfect Hiring/build/
/Individual Projects/Tupper's Self-Referential Formula/nbproject/private/
/Individual Projects/Tupper's Self-Referential Formula/build/
/Individual Projects/Tupper's Self-Referential Formula/dist/
/AP CompSci Summer/Sum Array/nbproject/private/
/AP CompSci Summer/Sum Array/build/
/AP CompSci Summer/Sum Array/dist/
/AP CompSci Summer/Machine Learning/nbproject/private/
/Individual Projects/Machine Learning/nbproject/private/
/Individual Projects/Machine Learning/build/
/AP CompSci Summer/Student Grades/nbproject/private/
/AP CompSci Summer/Student Grades/build/