<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UberDeliveryIdea.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>302C5FCE1EDA9F69001A5D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302C5FE21EDA9F69001A5D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>302C5FED1EDA9F69001A5D2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
